---

---


<!DOCTYPE html>
<html>

	<head>
		{% include head.html %}
		<link rel="stylesheet" href="/scripts/prettify/prettify.css"/>
	  	<script src="/scripts/prettify/prettify.js"></script>	  	
	  	<script src="/scripts/console.js"></script>
	</head>

  <body>

	{% include header.html %}

	<div id="console" class='main resp-main'>

		<div id="console-menu">

			<div id="user-info"></div>
			<br>

			<form id="console-search-form">
				<input type="text" name="q">
				<button type="submit" id="search">Search</button>
			</form>	
			<br>

			<div id="alert-div">
			</div>
			
		</div>
	
		<div id="console-results">
		</div>
	</div>
	
  </body>
</html>
