---

---


<!DOCTYPE html>
<html>

	<head>
		{% include head.html %}

	  	<script src="/scripts/map.js"></script>
	    <script async defer
    	  src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDvfs2R9nhAGMo__KDYGhsIpwZIVkz5YzM&callback=initMap">
    	</script>
	</head>

  <body>

	{% include header.html %}

	<div id="map">
	</div>
	
	<form id="map-search-form">
		<input type="text" name="q">
		<button type="submit" id="search">Search</button>
	</form>	

	<div id='poiInfo'>
		<img id='img' src=''>
		<h1 id='title'></h1>
		<p id='category'></p>
		<p id='address'></p>
		<a id='url' href=''></a>
	</div>
	
  </body>
</html>
