---

---

<!DOCTYPE html>
<html>

	<head>
		{% include head.html %}
	  	<script src="/scripts/home.js"></script>
	</head>

  <body>

	{% include header.html %}

    <div class="banner">

	    <div class="uvp">
	    
	    	<img src="/images/spacedog.png">
	      	<h1>Smart backend for mobile and web applications.</h1>
	      	<h5>Focus on creating amazing user experiences. Forget about server-side pain. Sign up and immediately access our backend services in the cloud. Save and search for data. Edit and push new contents. Deploy and publish resources and services.</h5>
	  	 	</br>
			
			<form id="subscribe-form" novalidate>

				<h5>Interested? Stay informed:</h5>

				<div style="position: absolute; left: -5000px;">
					<input type="hidden" name="id" value='2ec6d416a8'>
					<input type="hidden" name="u" value='695c4d3705128a6eb146ca520'>
					<!-- do not remove this or risk form bot signups-->
					<input type="text" name="b_695c4d3705128a6eb146ca520_2ec6d416a8" tabindex="-1" value="">
				</div>
				
				<input type="email" id="email" name="EMAIL" class="form-field" placeholder="Email address">
				<button type="submit" id="subscribe">Subscribe</button>

				<div id="subscribe-response">
				</div>

			</form>

	    </div>

    </div>

	{% include footer.html %}
	
  </body>
</html>
