
/* Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  color: rgb(255,200,0);
  font-family: 'Ubuntu', sans-serif;
  border-color: rgb(255,200,0);
  border-width: 2px;
  border-radius: 20px;
  border-style: none;
  padding: 0;

/*  font-family: andale mono, sans-serif;*/
/*  font-family: DIN Next W01 Regular, helvetica, arial, sans-serif; */
/*  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; */
}

html,
body {
  background-color: rgb(0,0,20) ;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1100px;
  text-align: center;
}

@media screen and (min-width:730px) {  
  .main {
    margin-top: 80px;
  }
}


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width:730px) {  

  header {
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: inherit;
    width: 100%;
    border-bottom-style: solid;
    border-color: red;
    border-radius: 0;
  }
}

header nav {
  display: inline-block;
  margin: 4px 30px 4px 0;
}

header nav a {
  font-size: 1.2rem;
  margin-right: 10px;  
}

header .logo {
  float: left;
  margin-left: 30px;
}


#header-content {
  margin: 15px auto 10px auto;
  max-width: 1100px;
  text-align: right;
}

.logo {
  font-size: 2.2rem;
  font-family: 'Orbitron', sans-serif;
}

.active {
  color: red;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  width: 100%;
  margin: 30px 0 5px 0;
  text-align: center;
}

footer p {
  display: inline-block;
  margin: 0 5%;
}


/* Sign In
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#sign-div {
  text-align: center;
  max-width: 400px;
}

.log {
  margin: 100px auto;
}

.sign {
  margin: 50px auto;  
}

#sign-div .logo {
  font-size: 2.2em;
  margin-bottom: 20px;
  display: block;
}

#sign-div form {
  margin: 0;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

#sign-div input {
  margin: 0 0 10px 10px;
}

.sign-form-submit {
  text-align: center;
  margin-top: 20px;
}


/* Console
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#console {
  width: 100%;
  height: 100%;
  text-align: left;
}

@media screen and (min-width:730px) {  

  #console-menu {
    position: fixed;
    float: left;
    padding: 0;
    margin-right: 30px;
    vertical-align: middle;
    max-width: 300px;
    text-align: left;
  }

  #console-results {
    margin: 90px 0 0 360px;
  }
}

#console-results {
  padding: 0;
  vertical-align: left;
  text-align: left;
}

#console-menu input,
#console-menu button {
  margin-bottom: 15px;
}

.prettyprint {
  display: block;
  overflow: auto;
  padding: 2px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 5px;
  max-width: 700px;
  overflow: auto;
}

/* Placeholder color
–––––––––––––––––––––––––––––––––––––––––––––––––– */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: darkorange;
  opacity: 0.6;
}

:-moz-placeholder { /* Firefox 4 to 18 */
  color: darkorange;
}

::-moz-placeholder { /* Firefox 19+ */ 
  color: darkorange;
}

:-ms-input-placeholder { /* IE 10+ */
  color: darkorange;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  line-height: 1.5em;
}


h1 { font-size: 2.6rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

p,
li,
strong {
  color: beige;
  line-height: 1.3em;
  margin-bottom: 1em;
}

strong {
  font-weight: 999;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: red;
  /* avoid blue box when pressing tab to get focus */
  outline: 0;
}



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input,
button,
.button {
  padding: 0 10px;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  vertical-align: middle;
  border-style: solid;
  /* avoid blue box when pressing tab to get focus */
  outline: 0;
}

button,
.button {
  text-transform: uppercase;
  border-radius: 28px;
  cursor: pointer;
}

/* Removes awkward default styles on some inputs for iOS */
input,
button,
.button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input:focus,
textarea:focus,
select:focus {
  border-color: red;
  background-color: red;
  color: #FFF;
}

label,
legend {
  color: beige;
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
