
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html,
body {
  height: 100%;
  font-family: andale mono, consolas, sans-serif;
  background-color: black;
  color: orange;
  min-height:100%;
  max-width: 100%;
  padding:0;
  margin:0;
}

footer {
  margin: 30px 0 5px 0;
  width: 100%;
  text-align: center;
}

header {
  margin: 0;
  padding: 10px 0;
  top: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: black;
  border-bottom-width: 1px;
  border-color: red;
  border-bottom-style: inset;
}

header .logo {
  float: left;
  margin: 0;
  padding: 10px 30px;
}

.logo {
  font-size: 2.2em;
}

nav ul {
  margin: 0;
  padding: 0 30px 0 0;
  float: right;
}

nav li {
  display:inline-block
}

.active {
  color: red;
}

a {
  text-decoration: none;
  color: orange;
  cursor:pointer;
}

a:focus,
a:hover {
  color: red;
  /* avoid blue box when pressing tab to get focus */
  outline: 0;
}

nav a {
  display:inline-block;
  font-size:1.2em;
  margin-left: 10px;
  padding: 20px 0 20px 10px;
}

nav button {
  margin-left: 20px;
}

/* Landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.banner {
  margin-top: 73px;
}

.uvp {
  max-width: 700px;
  margin: 0 auto;
  padding: 2% 0 2% 0;
  text-align:center;
  background-color: transparent;
}

#subscribe-form {
  padding: 0 16px 20px 16px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  background-color: #112365;
}

#subscribe-form button,
#subscribe-form input {
  border-color: orange;
}

#subscribe-form button:focus,
#subscribe-form button:hover,
#subscribe-form input:focus {
  border-color: red;
}

/* Console Sign In
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#sign-div {
  margin: 50px auto;
  text-align: center;
  width: 500px;
}

#sign-div h4,
#sign-div p,
#sign-div label {
  color: beige;
}

#sign-div .logo {
  font-size: 2.2em;
  margin-bottom: 20px;
  display: block;
}

#sign-div form {
  margin: 0;
  padding: 20px;
  text-align: center;
  border: 15px solid darkorange;
  border-radius: 20px;
}

#sign-div input {
  margin: 0 0 10px 10px;
}

.sign-form-submit {
  text-align: center;
  margin-top: 20px;
}



/* Console Search
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#console {
  background-color: black;
  width: 100%;
  height: 100%
  display: none;
  visibility: hidden;
}

#console-menu {
  position: fixed;
  float: left;
  padding: 0;
  margin: 0 30px;
  vertical-align: middle;
  max-width: 380px;
}

#console-results {
  margin: 90px 0 0 440px;
  padding: 0;
  vertical-align: middle;
  background-color: black;
}

/* Documentation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

menu {
  float: left;
  margin: 0;
  padding: 15px 30px;
  max-width: 200px;
  position: fixed;
}

menu h5 {
  color: beige;
}

menu ul {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin: 0;
  border-left : 1px solid red;
}

menu a {
  display:inline-block;
  position:relative;
}

.doc {
  max-width: 800px;
  margin: 70px auto 70px 260px;
  padding: 15px 30px;
  color: beige;
  text-align:justify;
}

.doc table {
  border-bottom: 1px solid beige;
  border-right: 1px solid beige;
  margin: 2em 0;
}

.doc th,
.doc td {
  border-right: 1px solid beige;
  border-bottom: 1px solid beige;
  border-color: beige;
}

/* Map demo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#map {
  margin: 71px 0 0 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map-search-form {
  position: fixed;
  top: 100px;
  margin-left: 25px;
  padding: 10px;
  background-color: black;
  border: 10px solid darkorange;
  border-left-style: hidden;
  border-right-style: hidden;
  border-radius: 10px;
}

#poiInfo {
  display: none;
  color: black;
}

#poiInfo h1,
#poiInfo p {
  color: black;
}

#poiInfo a {
  margin: 1rem 0 30px
}

#poiInfo img {
  max-width: 100%;
  max-height: 100%;
}


/* Placeholder color
–––––––––––––––––––––––––––––––––––––––––––––––––– */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: darkorange;
  opacity: 0.6;
}

:-moz-placeholder { /* Firefox 4 to 18 */
  color: darkorange;
}

::-moz-placeholder { /* Firefox 19+ */ 
  color: darkorange;
}

:-ms-input-placeholder { /* IE 10+ */
  color: darkorange;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: 100;
  color: orange;
}

h1 { font-size: 2.6rem; line-height: 1.2;  }
h2 { font-size: 2.2rem; line-height: 1.25; }
h3 { font-size: 1.8rem; line-height: 1.3;  }
h4 { font-size: 1.4rem; line-height: 1.35; }
h5 { font-size: 1.2rem; line-height: 1.5;  }
h6 { font-size: 1.1rem; line-height: 1.6;  }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button {
  display: inline-block;
  height: 2em;
  padding: 10px 10px;
  background-color: black;
  color: orange;
  font-weight: 100;
  font-family: consolas, sans-serif;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 28px;
  border: 2px solid red;
  cursor: pointer;
  box-sizing: border-box;
  /* avoid blue box when pressing tab to get focus */
  outline: 0;
}

button:hover,
button:focus {
  color: #FFF;
  background-color: red;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.form-row {
  position: relative;
}

input {
  background-color: black;
  color: orange;
  font-family: andale mono, consolas, sans-serif;
  height: 2em;
  padding: 10px;
  margin: 0 10px 0 0;
  text-align: left;
  font-size: 1.2em;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid red;  
  cursor: text;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: red;
  color: #FFF;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

