<!DOCTYPE html>
<html>

	<head>
	    {% include head.html %}
		<link rel="stylesheet" href="/styles/highlight.css"/>
	</head>

  <body>


    {% include header.html %}

	<div class='main resp-main'>

		<menu>
			<h5>User's guide</h5>

			<ul>
			{% assign docs = site.user-guide | sort: 'rank' %}
			{% for doc in docs %}
			<li>
				{% if doc.url == page.url %}
				  <a  class="active"  href="{{doc.url}}"> {{doc.title}} </a>
				{% else %}
				  <a  href="{{doc.url}}"> {{doc.title}} </a>
				{% endif %}
			</li>
			{% endfor %}
			</ul>

			</br>
			<h5>Reference guide</h5>

			<ul>
			{% for doc in site.reference-guide %}
			<li>
			{% if doc.url == page.url %}
			  <a  class="active"  href="{{doc.url}}"> {{doc.title}} </a>
			{% else %}
			  <a  href="{{doc.url}}"> {{doc.title}} </a>
			{% endif %}
			</li>
			{% endfor %}
			</ul>

		</menu>

		<div class="doc">

			{{ content }}

		</div>

    </div>

   	{% include footer.html %}

  </body>
</html>
